---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "css/base.scss";
@import "css/markdown.scss";

.kindblue {
  background-color: #55A0D7;
}
.text-7xl {
  font-size: 4.5rem;
}
.-mt-30 {
  margin-top: -14rem;
}
body {
  background-color: white;
  background-color: rgba(248, 250, 252, 0.5);
}
