<div class="bg-gray-800 text-white">
<div class="max-w-5xl mx-auto flex justify-between py-12 sm:px-4 mt-12 text-gray-700">
  <div class="w-2/5 pl-2">
    <p class="text-xl font-bold text-gray-400">Kindmetrics</p>
    <p class="text-gray-400">We love analytics!</p>
    <p class="text-gray-400">Devality 2020</p>
  </div>
  <div class="lg:w-1/5 md:w-1/5 sm:w-2/5">
    <span class="font-bold text-gray-400">Kindmetrics</span><br>
    <a class="text-gray-400" href="/about/">About us</a><br>
    <a class="text-gray-400" href="mailto:info@kindmetrics.io">Contact us</a><br>
    <a class="text-gray-400" href="https://github.com/kindmetrics">Github</a><br>
    <a class="text-gray-400" href="/data-policy">Data Policy</a><br>
    <a class="text-gray-400" href="https://docs.kindmetrics.io">Documentation</a><br>
  </div>
</div>
</div>
