<div class="pb-2">
  {%- include nav.html -%}
  <div class="max-w-6xl mx-auto pt-6 px-2 sm:px-6 lg:px-8">
    <div class="mt-6">
      <div class="text-center">
        <h1 class="text-7xl font-bold leading-tight capitalize tracking-wide mb-4">Clean privacy-focused website analytics</h1>
        <div class="max-w-4xl mx-auto">
          <p class="leading-8 tracking-tight text-gray-700 text-2xl">Kindmetrics is a strictly privacy-focused analytics tool to help you find referrers and measure good content quickly. You will no more be giving up data. You won't see any more modals or data trees. Simply put, a more excellent way to dig into your visitors without the visitors giving their data to big enterprises.</p>
        </div>
        <div class="my-20 mx-auto">
          <a class="hover:no-underline bg-kind-blue hover:bg-indigo-500 text-white py-4 px-8 w-full md:w-auto inline-block rounded transister" href="https://app.kindmetrics.io/sign_up">
            Try now
          </a>
          <a class="hover:no-underline hover:bg-cool-gray-200 hover:text-blue-800 py-4 px-8 w-full mt-2 md:mt-0 md:ml-2 md:w-auto inline-block border border-kind-gray rounded bg-transparent transister" href="https://app.kindmetrics.io/share/851Jv1PW">
            See Demo
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8 mb-10">
    <img src="assets/images/dashboard.png" class="w-full h-auto">
</div>
